/*Глобальные стили*/
.map-frame {
  border: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }
html, body, p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #849d8f;
  font-family: 'Roboto','Helvetica', sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.6px;
  color: #ffffff;
  position: relative;
  letter-spacing: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
input {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
input[type="text"],
input[type="email"],
input[type="password"],
.site-textarea {
    height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #999999;
    border: 2px solid #d3d3d2;
    border-radius: 5px;
    vertical-align: middle;
}
.site-textarea {
  resize: none;
  height: 150px;
  padding-top: 10px;
  box-sizing: border-box;
}
.all-wrapper {
  background-image: url("../img/slider-ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.all-wrapper::before,
.all-wrapper::after {
  content: "";
  visibility: hidden;
}
.all-wrapper::before {
  background-image: url("../img/slider-ice-cream-2.png");
}
.all-wrapper::after {
  background-image: url("../img/slider-ice-cream-3.png");
}
/*Header*/
.header-logo {
  width: 154px;
  height: 64px;
}
.header-menu {
  width: 600px;
  line-height: 18px;
  font-weight: bold;
}
.header-menu > li:first-child {
margin-left: 10px;
}
.menu-item {
  display: inline-block;
  padding: 7px 13px;
  border-radius: 50px;
  letter-spacing: 0.3px;
}
.menu-item-span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.menu-item:hover,
.menu-item:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 50px;
}
.menu-item:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 5px -1px;
}
.menu-item.active {
  color: #ffffff;
  background-color: #d07058;
  border: none;
  box-shadow: none;
}
.menu-item.active span {
  border-bottom: none;
}
.header-submenu {
  z-index: 1;
  background-color: #f8f7f4;
  width: 145px;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  //display: none;
  transition: all .3s ease .15s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.header-menu > li:first-child:hover .header-submenu {
  //display: block;
  opacity: 1;
  visibility: visible;
  display: block;
}
.submenu-link {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
  //padding-left: 15px;
  //border-radius: 5px;
}
.submenu-span {
  padding-left: 15px;
}
.submenu-title {
  color: #333333;
  font-weight: bold;
  box-shadow: 0px 9px 0px -8px rgba(0, 0, 0, 0.2);
}
.submenu-link.active {
  color: #ffffff;
  background-color: #d07058;
}
.submenu-link:hover,
.submenu-link:focus {
  background-color: #fbded7;
}
.submenu-link:active {
  background-color: #f6b5a5;
}
.header-user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.header-contacts {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}
.header-contacts-time {
  //letter-spacing: 1px;
}
.header-contacts-phone {
  font-size: 22px;
  line-height: 24px;
}
.user-navigation-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 27px;
  border-radius: 20px;
  vertical-align: middle;
  position: relative;
}
.user-navigation-span {
  padding-left: 25px;
}
.user-navigation-item:hover {
  background-color: #f8f7f4;
  color: #323232;
}
.user-navigation-item > svg {
  fill: #ffffff;
}
.user-navigation-item:hover svg {
  fill: #000000;
}
.social-icon > svg {
  fill: #e6ebe9;
}
.social-icon:hover > svg {
  fill: #ffffff;
}
.find {
 padding: 4px 6px;
 width: 21px;
 height: 24px;
}
.find > svg {
  position: absolute;
  top: 8px;
  left: 8px;
}
.header-user-navigation > li:first-child:hover .modal-search {
  display: block;
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 1;
}
.find:active {
  box-shadow: inset 0 2px 5px -1px;
}
.enter > svg,
.basket > svg {
  position: absolute;
  top: 6px;
  left: 17px;
}
.enter {
  padding: 8px 20px;
}
.enter:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 5px -1px;
}
.header-user-navigation > li:nth-child(2):hover .modal-log-in {
  display: block;
  opacity: 1;
  visibility: visible;
  display: block;
}
.header-user-navigation > li:nth-child(3):hover .modal-cart {
  display: block;
  opacity: 1;
  visibility: visible;
  display: block;
}
/*.basket:hover + .modal-cart {
  opacity: 1;
  visibility: hidden;
  display: block;
  z-index: 2;
}*/
.basket:active {
  box-shadow: inset 0 2px 5px -1px;
}
/*Slider*/
.slider {
  position: relative;
  padding-top: 321px;
  margin-bottom: 43px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0; 
  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px; 
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20; 
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .all-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-ice-cream-1.png");
  background-position: 0 auto;
}
#product-2:checked ~ .all-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-cream-2.png");
  background-position: 0 auto;
}
#product-3:checked ~ .all-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-cream-3.png");
  background-position: 0 auto;
}
#product-1:checked ~ .all-wrapper #slide1,
#product-2:checked ~ .all-wrapper #slide2,
#product-3:checked ~ .all-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .all-wrapper label[for="product-1"],
#product-2:checked ~ .all-wrapper label[for="product-2"],
#product-3:checked ~ .all-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:hover ~ .all-wrapper label[for="product-1"],
#product-2:hover ~ .all-wrapper label[for="product-2"],
#product-3:hover ~ .all-wrapper label[for="product-3"] {
  background-color: rgba(255, 255, 255, 0.2);
}
/********************Конец разметки .slider***********************/
.offer-card-raspberries {
  background-image: url("../img/raspberry.jpg");
  background-repeat: no-repeat;
}
.offer-card-chocolate {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
}
.offer-card-slogan {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 15px;
}
.offer-card-text {
  font-size: 18px;
  line-height: 22px;
}
.offer-btn {
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
  position: absolute;
  right: 23px;
  bottom: 25px;
  padding: 10px 20px;
}
/*Секция ХИТ*/
.main-hits-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  position: absolute;
  top: 211px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  //align-items: baseline;
}
.hits-price-block {
  font-size: 30px;
  padding-left: 35px;
}
.item .hits-price-block {
  padding-left: 25px;
}
.main-hits-name {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
.main-hits-name-span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 0.3px;
}
/*Секция: Магазин Глэйси — это онлайн- и офлайн-магазин по продаже */
.shop-description {
  color: #323232;
  background-image: url("../img/wafer.jpg");
  background-repeat: repeat;
  border-radius: 15px;
  padding: 25px 15px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-description-market {
  width: 500px;
  position: relative;
  padding-left: 55px;
  padding-top: 20px;
}
.shop-description-market > svg {
  position: absolute;
  left: 7px;
  top: 9px;
}
.shop-description-text {
  padding-left: 7px;
}
.shop-slogan {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-left: 5px;
  font-weight: 500;
  letter-spacing: 0.08px
}
/*Блог новостей*/
.blog-news {
  color: #323232;
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  padding: 15px;
  padding-left: 20px;
}
.blog-news-methods {
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}
.main-blog-info {
  color: #5a5a5a;
  background-image: repeating-linear-gradient( -45deg, white 10px, #92cdff 10px, #92cdff 20px, white 20px, white 30px, #fe9e90 30px, #fe9e90 40px, white 40px, white 50px);
}
.blog-info-slogan {
  margin-bottom: 35px;
}
.blog-info-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
input.blog-info-email {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  width: 100%;
  margin-right: 12px;
  height: 45px;
}
.blog-info-btn {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  padding: 10px 19px;
}
/*Секция Карта*/
.map-contacts {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
}
.street{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}
.phone-order {
  margin-bottom: 5px;
}
.phone-number {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 3px;
}
.open {
  margin-bottom: 25px;
}
.map-contacts-btn {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 9px 27px;
}
.feedback-btn {
  padding: 9px 15px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 25px;
  width: 135px;
  margin-left: 72%;
}
/***************Modal windows***************/
.modal {
  background-color: #f8f7f4;
  color: #323232;
  padding: 20px 20px;
}
.modal-find .site-input {
  width: 340px;
  outline: none;
}
.site-input:focus {
  border: 2px solid #8fbdec;
  border-radius: 5px;
  outline: none;
}
.modal-search {
  position: absolute;
  top: 60px;
  right: 230px;
  //padding: 20px 20px;
  border-radius: 5px;
  //display: none;
  transition: all .3s ease .15s;
  opacity: 0;
  visibility: hidden;
}
.modal-log-in {
  width: 275px;
  border-radius: 10px;
  position: absolute;
  right: 125px;
  top: 64px;
  z-index: 1;
  box-sizing: border-box;
  //display: none;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}
.log-in-input {
  width: 100%;
  margin-bottom: 20px;
}
.modal-log-in-links {
  width: 55%;
  position: absolute;
  right: 0;
  bottom: 15px;
}
.modal-feedback {
  width: 480px;
  position: fixed;
  right: 35%;
  top: 160px;
  border-radius: 10px;
  display: none;
  z-index: 1;
}
.modal-feedback > form{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.modal-feedback input {
  margin-bottom: 20px;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  //outline: none;
}
@keyframes getform {
  0% { transform: translateY(560px) translateX(300px); }
}
.modal-show {
  display: block;
  animation-name: getform;
  animation-duration: 0.6s;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #231f20;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.feedback-input {
  width: 60%;
}
.modal-feedback-slogan {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}
.modal-log-in-btn {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  display: inline;
}
.log-in-btn {
   font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
  padding: 8px 20px;
  color: #fefefe;
}
.modal-log-in-links span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-item-title {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  margin-left: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.cart-item-cost {
  margin-left: 15px;
  //margin-right: 5px;
}
.cart-item-quantity {
  margin-left: 5px;
  margin-right: 15px;
  color: #999999;
}
.quantity-box {
  //padding-bottom: 15px;
  position: relative;
  top: -8px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  margin-left: 15px;
}
.cart-item-sum {
  color: #323232;
}
.items-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}
.item {
  position: relative;
}
/*Модальник, корзина*/
.modal-cart {
  position: absolute;
  right: 0;
  top: 60px;
  width: 540px;
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}
.cart-item {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  //justify-content: space-between;
  margin-bottom: 20px;
}
.item-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}
.cart-item-sum-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-items-sum {
  margin-bottom: 15px;
}
.cart-title-name {
  display: inline-block;
  width: 235px;
}
.cart-img {
  padding-left: 20px;
}
.cart-item-delete {
  position: absolute;
  top: 7px;
  left: -10px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  background-color: transparent;
}
.cart-item-delete::before,
.cart-item-delete::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #231f20;
}
.cart-item-delete::before {
  transform: rotate(45deg);
}
.cart-item-delete::after {
  transform: rotate(-45deg);
}
.cart-btn {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 9px 15px;
}
/*---------------------------КАТАЛОГ------------------------------------*/
/*Кусочек header*/
.user-cart {
  background-color: #f7f6f3;
  color: #323232;
}
/*----------------------filter------------------------*/
.filter-label {
  position: relative;
  padding-left: 38px;
  padding-top: 10px;
  cursor: pointer;
  color: #ffffff;
  //top: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-label input[type="checkbox"],
.filter-label input[type="radio"] {
  display: none;
}
.filter-label input[type="checkbox"] + .indicator,
.filter-label input[type="radio"] + .indicator {
  position: absolute;
  top: -2px;
  left: 4px;
  width: 14px;
  height: 14px;
  border: 2px solid #e6ebe9;
  border-radius: 2px;
  margin-right: 5px;
}
.filter-label input[type="radio"] + .indicator {
  border-radius: 50%;
  border: 4px solid #e6ebe9;
  top: 7px;
}
.filter-label input[type="checkbox"] + .indicator {
  top: 8px;
  width: 16px;
  height: 16px;
}
/*передаем событие на псевдо чекбокс*/
.filter-label input[type="checkbox"]:active + .indicator,
.filter-label input[type="radio"]:active + .indicator {
  border-color: #ffffff;
}
/*Иконка выбранного чекбокса*/
input[type="checkbox"]:checked + .indicator::before{
  content: "";
  position: absolute;
  top: -4px;
  left: 6px;
  width: 6px;
  height: 13px;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}
/*Иконка выбранного radio*/
.filter-label input[type="radio"]:checked + .indicator::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #ffffff;
}
input[type="checkbox"]:checked + .indicator {
  border-color: #fff;
}
input[type="radio"]:checked + .indicator {
  border-color: #fff;
}
input[type="checkbox"]:checked + .indicator::before {
  transform: rotate(45deg);
}
/*-----------range--------------*/
.filter-item {
  padding: 0;
  border: none;
}
.range-filter {
  width: 220px;
  padding-right: 7px;
}
.filter-item legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-left: 12px;
}
.filter-item:nth-child(1) {
  margin-right: 12px;
}
.filter-item:nth-child(2) {
  margin-right: 4px;
}
.filter-item:nth-child(3) > .container {
  width: 395px;
  height: 36px;
  border-radius: 50px;
  background-color: #a8bab0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
.filter-item:nth-child(4) > .container {
  width: 680px;
  height: 36px;
  border-radius: 50px;
  background-color: #a8bab0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  //margin-top: 20px;
  padding: 0 10px;
  justify-content: space-between;
}
.filter-item:nth-child(4) {
  margin-right: 15px;
}
.range-controls {
  position: relative;
  height: 19px;
  padding-top: 17px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #aabbb1;
  border-radius: 50px;
}
.range-controls .scale {
  height: 4px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 60%;
  height: 4px;
  background: #f8f7f4;
  margin-left: 10%;
}
.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0; 
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 35px;
}
.range-controls .toggle-max {
  left: 133px;
}
/*----------End Range------------*/
.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.filter-elements {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.filter-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
.filter-sorting {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  //letter-spacing: 0.7px;
}
.sorting-options {
  width: 193px;
  height: 36px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: inherit;
  color: #ffffff;
  padding-left: 8px;
  text-align: center;
}
.sorting-options:hover {
  color: #323232;
  font-weight: 500;
}
.filter-elements span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-btn {
  background: #a6b7ad;
  //border: 2px solid #ffffff;
  padding: 0 29px;
  height: 36px;
  color: #ffffff;
  font-weight: 500;
  -ms-align-self: flex-end;
  //align-self: flex-end;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px #f6f8f7;
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-btn:hover {
  color: #323232;
  background-color: #ffffff;
  font-weight: 500;
}
.filter-btn:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4)
}
.hits-item-btn {
  position: absolute;
  z-index: 1;
  left: 30px;
  display: none;
  padding: 9px 15px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.hits-item:before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  width: 105%;
  height: 120%;
  left: -7px;
  top: -7px;
  position: absolute;
  border-radius: 10px;
  display: none;
}
.main-hits-item:before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  width: 105%;
  height: 120%;
  left: -7px;
  top: -7px;
  position: absolute;
  border-radius: 10px;
  display: none;
}
.hits-item:hover:before {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition-property: background, border-radius, box-shadow;
  transition-duration: 0.3s;
  //transition-timing-function: linear;
}
.main-hits-item:hover:before {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition-property: background, border-radius, box-shadow;
  transition-duration: 0.3s;
  //transition-timing-function: linear;
}
.hits-item:hover {
  z-index: 1;
}
.hits-item:hover .hits-item-btn {
  display: block;
}
.main-hits-item:hover .hits-item-btn {
  display: block;
}
.hits-item > svg {
position: absolute;
}
.main-hits-price > svg {
  position: absolute;
  top: 5px;
  left: 80px;
}
.main-hits-img {
  margin-bottom: 9px;
  position: relative;
  //z-index: 1;
}
.main-hits-img > img {
  border-radius: 50%;
}
/*Сетка*/
.all-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}
.site-wrapper {
  width: 1200px;
  padding: 0 26px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header,
.header-main-menu,
.header-menu,
.header-user-navigation,
.main-offer > .container {
  display: flex;
}
.header-main-menu {
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}
.header-menu > li:first-child {
  position: relative;
}
.header-user-navigation > li{
  margin-left: 8px;
}
/*.enter:hover + .modal-log-in{
  display: block;
}*/
.header {
  position: relative;
  -ms-align-items: center;
  align-items: center;
  padding-top: 8px;
}
.header-contacts {
  position: absolute;
  right: 0;
  top: 73px;
  text-align: right;
}
.main-offer {
  margin-bottom: 40px;
}
.offer-card {
  width: 560px;
  height: 230px;
  //margin-bottom: 40px;
  border-radius: 15px;
  padding: 15px 20px;
  box-sizing: border-box;
  position: relative;
}
.offer-card:last-child {
  margin-left: 26px;
}
.main-hits > .container {
  width: 1200px;
  display: flex;
}
.main-hits-index {
  margin-bottom: 26px;
}
.main-hits-index > .container {
  width: 1200px;
  display: flex;
}
.hits-item {
  width: 267px;
  margin-left: 26px;
  margin-bottom: 26px;
  position: relative;
}
.hits-item:nth-child(4n+1) {
  margin-left: 0;
}
.main-hits-item {
  width: 267px;
  margin-left: 26px;
  margin-bottom: 30px;
  position: relative;
}
.main-hits-index .main-hits-item {
  margin-bottom: 0;
}
.main-hits-index .main-hits-item:nth-child(4n+1) {
  margin-left: 0;
}
.main-hits-item > svg {
  position: absolute;
  z-index: 1;
}
.shop-description {
  //min-height: 305px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.main-blog {
  display: flex;
  margin-bottom: 40px;
}
.blog-article {
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  box-sizing: border-box;
}
.blog-news-caption {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 500;
}
.main-blog-info {
  margin-left: 26px;
  padding: 5px;
}
.blog-info-container {
  background-color: #f8f7f4;
  padding: 30px 20px;
  box-sizing: border-box;
  width: 550px;
  min-height: 210px;
  border-radius: 15px;
}
.main-map {
  position: relative;
}
.map-frame {
  position: relative;
}
.map-frame {
  width: 100%;
  height: 430px;
}
.map-contacts {
  width: 302px;
  height: 305px;
  background-color: #fffffe;
  position: absolute;
  right: 10px;
  top: 64px;
  border-radius: 20px;
  padding: 30px 25px;
  box-sizing: border-box;
}
.footer {
  width: 1200px;
  margin: 0 auto;
}
.footer > .container,
.footer-about {
  display: flex;
}
.footer > .container {
  padding: 0 26px;
  height: 103px;
  -ms-align-items: baseline;
  align-items: center;
  justify-content: space-between;
}
.footer-about {
  padding-bottom: 5px;
}
.about-container {
  padding-right: 12px;
}
.footer-copyright {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.social-icon > svg {
  border: 2px solid #c2cec7;
  border-radius: 50%;
}
.social-icon:not(:first-child) {
  margin-left: 10px;
}
.footer-menu-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-menu-link:hover {
  color: #ffbc9e;
}
.footer-menu-link:active {
  color: #ffbc9e;
}
.academy-link {
  font-size: 12px;
  line-height: 18px;
  //padding-bottom: 32px;
}
.academy {
  text-decoration: underline;
}
.academy-link:hover .academy {
  color: #ffbc9e;
}
.academy-link:active .academy {
  color: #ffbc9e;
}
.footer-menu-item {
  position: relative;
  padding-left: 20px;
}
.footer-menu-item > svg {
  position: absolute;
  bottom: 5px;
  left: 0;
}
/************Сетка страницы Каталога******************/
.breadcrumbs {
display: flex;
}
.breadcrumbs > li:not(:first-child) {
  margin-left: 5px;
}
.filter-form {
  min-height: 147px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 880px;
  flex-wrap: wrap;
  align-items: center;
  //justify-content: space-between;
}
.basket.active {
  background-color: #ffffff;
  color: #353535;
  padding: 8px 18px;
}
.form-container:first-child {
  width: 193px;
}
.form-container:nth-child(2) {
  background-color: #a6b7ad;
  width: 220px;
}
.form-container:nth-child(3) {
  background-color: #a6b7ad;;
  width: 420px;
}
.form-container:nth-child(4) {
  background-color: #a6b7ad;;
  width: 702px;
}
.filter-elements {
  padding-left: 10px;
}
.sorting-options {
  background-color: #a6b7ad;
  border-radius: 20px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.sorting-options > .filter-option {
  background-color: #fff;
}
.filter {
  margin-bottom: 30px;
}
.main-catalog > .container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.pagination > .container,
.pagination-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination {
padding-top: 2px;
padding-right: 3px;
padding-bottom: 31px;
margin-bottom: 4px;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.icon-prev,
.icon-next {
  width: 7px;
  height: 7px;
}
.icon-next {
  margin-left: 6px;
  border-right: 1px solid #f8f9f8;
  border-bottom: 1px solid #f8f9f8;
  transform-origin: center;
  transform: rotate(-45deg);
}
.icon-prev {
  margin-right: 12px;
  border-left: 1px solid #9bafa4;
  border-bottom: 1px solid #9bafa4;
  transform-origin: center;
  transform: rotate(45deg);
}
.pagination-links > li {
  margin-right: 7px; 
}
.pagination-item {
  line-height: 18px;
  padding: 2px 7px;
  border-radius: 20px;
  font-weight: 500;
}
.pagination-item:hover {
  background-color: #ffffff;
  color: #353535;
  font-weight: 500;
}
.pagination-item.active {
  background-color: #ffffff;
  color: #353535;
  font-weight: 500;
}